#patt_thankyou {
display:none;
}
    
.tooltip-inner {
    white-space:pre-wrap;
}

a[data-toggle="tooltip"] {
text-decoration: none !important;
/*font-weight: bold;*/
cursor: help;
}

.username .view {
    display: none;
}

/* Mini Orange Code Scan Security Fix */
#license_upgrade {
    display: none;
}